[phases.setup]
nixPkgs = ["dotnet-sdk_8"]

[phases.build]
cmds = [
  "dotnet restore",
  "dotnet publish MotorStores.Api/MotorStores.Api.csproj -c Release -o /app/publish"
]

[start]
cmd = "cd /app/publish && dotnet MotorStores.Api.dll"